/* Common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #F4F9FD;
    min-width: 1920px;
}

a{
    text-decoration: none;
}

/* Utilities */
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}

.bg_lightblue{
    background-color: #F4F9FD;
}

.bg_orange{
    background-color: #FE775A;
}

.menu_inline li{
    display: inline-block;
    list-style: none;
}

/* Debug */
.debug header{ 
    background-color: aquamarine;
    height: 650px;
}
.debug main{
    background-color: bisque;
    height: 1700px;
} 
.debug footer{
    background-color: cornflowerblue;
    height: 400px;
}

/* Header */
#top_nav{
    height: 80px;
}

.menu_left, .menu_right{
    width: 50%;
    float: left;
}

.menu_left a{
    color: #32495B;
}

.menu_right{
    text-align: right;
}

.search_icon{
    width: 15px;
    margin-right: 1rem;
}

.btn{
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.btn_outline{
    border: 1px solid #FE775A;
    background-color: white;
    color: #FE775A;
    margin-right: 1rem;
    padding: 13px 10px;
}

.btn_solid{
    border: #FE775A;
    background-color: #FE775A;
    color: white;
    padding: 13px 10px;
}

.logo{
    line-height: 80px;
}

.logo > img{
    
}
/* **************************************** */

#top_nav li{
    display: inline-block;
    /* margin-left: 80px;
    padding-top: 40px; */
    line-height: 80px;
    vertical-align: middle;
}

#top_nav a{
    list-style: none;
    text-decoration: none;
}

.left_menu{
    float: left;
}

#bottom_nav{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

#bottom_nav li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 40px;
}

#bottom_nav a{
    color: rgb(17, 69, 90);
    font-size: 1rem;
    font-weight: 450;
    text-decoration: none;
}

.jumbotron{
    height: 530px;
    width: 100%;
    background-color: #FFF5EF;
    background-image: url('./hubspot/img/jumbotron.png');
    background-repeat: no-repeat;
    background-position: 100%;
}