/* Common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #F4F9FD;
    min-width: 1920px;
}


/* Utilities */
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* .container{
    width: 80%;
    margin: auto;
} */
 
.bg_lightblue{
    background-color: #F4F9FD;
}

.bg_orange{
    background-color: #FE775A;
}

.menu_inline li{
    display: inline-block;
    list-style: none;
}



/* Header */
#top_nav{
    height: 80px;
    border-bottom: 1px solid black;
}

.menu_left, .menu_right{
    width: 50%;
    float: left;
}

.menu_left a{
    color: #32495B;
}

.menu_right{
    text-align: right;
}

.search_icon{
    width: 20px;
    margin-right: 1rem;
}

 .btn{
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.btn_outline{
    border: 1px solid #FE775A;
    background-color: white;
    color: #FE775A;
    margin-right: 1rem;
    padding: 10px 10px;
}

.btn_solid{
    border: #FE775A;
    background-color: #FE775A;
    color: white;
    padding: 10px 10px;
}

.logo, .main_menu{
    float: left;
}

.logo{
    width: 18%;
}

.logo > img{
    vertical-align: middle;
}




.main_menu a{
    color: #32495b;
}

.menu_inline a{
    padding-right: 10px;
}

.jumbotron{
    height: 695px;
    background-image: url('../css/hubspot/img/jumbotron.png');
    background-color: #FFF5EF;
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #afebe4 ;
    height: 83px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 3px solid #33475c;
    border-bottom: 3px solid #33475c;
}

.text_container{
    width: 48%;
    padding-top: 5%;
    color: #33475b;
}

.text_container a.btn {
    display: inline-block;
    padding: 1rem;   
}

.text_container h1{
    font-size: 3rem;
}

.text_container p{
    line-height: 1.5rem;
    padding: 2rem 0;
}

.small_text{
    font-size: 0.75rem;
    padding-top: 2.25rem;
}

.text_container .small_text{
    font-size: 0.75rem;
    padding-top: 2.25rem;
}


.bg_lightskyblue{
    background-color: #F4F9FD;
}
.navbar a{
    color: #32495b;
}
.navbar .btn_text{
    color: #FE775A;
}
#topnav{
    border-bottom: 1px solid #32495B;
    height: 80px;
}
.cube {
    width: 400px;
}

    

